<div class="card">
    <div class="card-header">
      {{user?.username}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>email:{{user?.email}}</p>
        <p>id:{{user?.id}}</p>
        <p>fullName:{{user?.name?.firstname}} {{user?.name?.lastname}}</p>
        <button class="btn btn-primary" (click)="onShowMoreBtnClick()">show more</button>
        <button class="btn btn-danger" (click)="onDeleteBtnClick()">delete</button>
        <button class="btn btn-primary" (click)="onUpdateBtnClick()">update</button>
      </blockquote>
    </div>
  </div>